@model User

<h1 class="row col-12">Личный кабинет</h1>

<div class="row col-12">
    <div class="col-3">
        <div class="row justify-content-center"><img height="200" src="/user.png" alt="user"></div>
        <h4 class="row justify-content-center">@Model.SecondName @Model.FirstName</h4>
        <h5 class="row justify-content-center">@Model.Email</h5>
    </div>
    
    <div class="col-9">
        <div class="row">
            <div class="col-4">
                <div class="card row border-primary mt-1 mb-1 mr-1">
                    <div class="card-header text-primary">
                        Мои компетенции
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var c in Model.CurrentCompetences)
                        {
                            <li class="list-group-item bg-primary">
                                <span class="badge badge-warning">@c</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-4">
                <div class="card row border-primary  mt-1 mb-1 mr-1">
                    <div class="card-header text-primary">
                        Желаемые компетенции
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var c in Model.DesiredCompetences)
                        {
                            <li class="list-group-item bg-primary">
                                <span class="badge badge-warning">@c</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        
        <a class="row btn btn-outline-success align-content-center" asp-controller="Home" asp-action="ProfileEdit">
            Редактировать
        </a>
        
        <h4 class="row">Мои курсы</h4>
                
        <div class="row">
            @foreach (var course in Model.Courses)
            {
                <div class="col-4">
                    <div class="card row mt-1 mb-1 mr-1">
                        <div class="card-body">
                            <a class="card-text" asp-controller="Home" asp-action="Course" asp-route-name="@course">
                                @course
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
